body{
  background-color: #b7e5ff;
  font-family: 'Nanum Gothic', sans-serif;
}
.C{
  position: absolute;
  left:200px;
  top:200px;
}
.S{
  position: absolute;
  right:200px;
  top:200px;
}
.H{
  position: absolute;
  left:200px;
  top:800px;
}
.L{
  position: absolute;
  right:200px;
  top:800px;
}

.green{
  position: absolute;
  top: 250px;
  left: 15px;
}

.purple{
  position: absolute;
  top: 250px;
  right: 15px;
}

.blue{
  position: absolute;
  top: 700px;
  left: 15px;
}

.yellow{
  position: absolute;
  top: 700px;
  right: 15px;
}

.space{
  position: relative;
  top: 900px;
}

p{
    padding-bottom: 25px;
}

.space2{
  position: relative;
  top: 1200px;
}
